<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ORION login-user</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='rain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  </head>
  <body>
    <header>
      <div class="rain-animation">
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
        <i class="rain"></i>
      </div>
      <div class="heading">
        <div class="heading-text">
          Welcome back!
        </div>
      </div>
      <div class="loginbox">
        <div class="loginbox-form">
          <form method="post">
            <p>Username</p>
            <input type="text" name="username" id="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="text" name="password" id="password" placeholder="Enter Password" required>
            <br>
            <input type="submit" value="Login">
          </form>
        </div>

      </div>
    </header>
  </body>
</html>
